<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
    <%= render partial: 'spree/shared/header' %>

    <div class="container">
      <div class="row" data-hook>
        <%= spree_breadcrumbs(@taxon) %>

        <%= render partial: 'spree/shared/sidebar' if content_for? :sidebar %>

        <div id="content" class="<%= !content_for?(:sidebar) ? "col-sm-12" : "col-sm-8 col-md-9" %>" data-hook>
          <%= flash_messages %>
          <%= yield %>
        </div>

        <%= yield :templates %>
      </div>
    </div>
    
    <%= link_to 'javascript:;', class: 'scrollup', "target" => "_blank","data-message" => "Hi! adakah yang bisa kami bantu?", "data-number" => "+6289613834248" do %>
      <i class="fa fa-whatsapp"></i>
    <% end %>

  </body>
  
  <%= render partial: 'spree/layouts/footer' %>
</html>

<%= javascript_tag do %>
  $(".scrollup").on("click", function()
    {
      var text = $(this).attr("data-message");
      var phone = $(this).attr("data-number");
      var message = encodeURIComponent(text);

      var whatsapp_API_url = "whatsapp://send";
      $(this).attr( 'href', whatsapp_API_url+'?phone=' + phone + '&text=' + message );
      
    }
  );  
  
<% end %>
  