.row
  .col-md-3.text-left
    = link_to root_path do
      .icon-image.button-image
    -# = image_tag image_path("qualia_logo_medium.png"), class: "img-fluid"
  
  %nav.col-md-9.nav-mobile
    #main-nav-bar.navbar
      %ul.nav.navbar-nav
        %li#home-link{"data-hook" => ""}= link_to Spree.t(:home), spree.root_path
  
  %nav.col-md-9.custom-nav{ style: "padding:0;"}
    #main-nav-bar.navbar
      -# %i.fa.fa-search
      %ul.nav.navbar-nav{"data-hook" => "", style: "display: flex;"}
        %li#home-link{"data-hook" => ""}= link_to Spree.t(:home), spree.root_path
      %ul.nav.navbar-nav.navbar-right{ style: "margin-right: 16px;"}
        %li
          %a.bouton-image.instagram.instagram-button{style: "cursor:pointer;"}= "Cek instagram kami"
        
        -#   %a.w3-button{style: "cursor:pointer;", "target" => "_blank","data-message" => "Hi! adakah yang bisa kami bantu?", "data-number" => "+6281222194150"}
        -#   .name= "Silahkan hubungi kami"
        %li
          %a.bouton-image.monBouton.w3-button{style: "cursor:pointer;", "target" => "_blank","data-message" => "Hi! adakah yang bisa kami bantu?", "data-number" => "+6289613834248"}= "Hubungi kami"
        :javascript
          Spree.fetch_cart()

          var isMobile = {
            Android: function() {
            return navigator.userAgent.match(/Android/i);
            },
            BlackBerry: function() {
            return navigator.userAgent.match(/BlackBerry/i);
            },
            iOS: function() {
            return navigator.userAgent.match(/iPhone|iPad|iPod/i);
            },
            Opera: function() {
            return navigator.userAgent.match(/Opera Mini/i);
            },
            Windows: function() {
            return navigator.userAgent.match(/IEMobile/i);
            },
            any: function() {
            return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
            }
          };
          $(".w3-button").on("click", function()
            {
              
            var text = $(this).attr("data-message");
            var phone = $(this).attr("data-number");
            var message = encodeURIComponent(text);

            if( isMobile.any() ) {
            //mobile device
            var whatsapp_API_url = "whatsapp://send";
            $(this).attr( 'href', whatsapp_API_url+'?phone=' + phone + '&text=' + message );
            } else {
            //desktop
            var whatsapp_API_url = "https://web.whatsapp.com/send";
            $(this).attr( 'href', whatsapp_API_url+'?phone=' + phone + '&text=' + message );
            }
            });
          $(".instagram-button").on("click", function() {
            window.open('https://www.instagram.com/ardan_dermawan/', '_blank');
          })