- max_level = Spree::Config[:max_level_in_taxons_menu] || 1
%nav#taxonomies.sidebar-item{"data-hook" => ""}
  - @taxonomies.each do |taxonomy|
    - cache [I18n.locale, taxonomy, max_level, @taxon] do
      - if taxonomy.root.children.any?
        %h4.taxonomy-root= Spree.t(:shop_by_taxonomy, taxonomy: taxonomy.name)
        %hr{style: "margin-top:2px; margin-bottom:10px; border-top: 1.5px solid #b1aeae;"}
        %ul.list-group
          - taxonomy.root.children.each do |taxon|
            #accordionExample.accordion
              .card
                #headingOne.card-header
                  .x{style: "margin: 6px 0; font-size: 16px; border-bottom: solid 1px #eae4e4; padding-bottom: 1rem;"}
                    = link_to taxon.name , nested_taxons_path(taxon), style: "color: #555;"
                    -# %hr{style: "margin-top:2px; margin-bottom:10px; border-top: 2px solid #eeeeee;"}
                    
                    - if taxon.children.present?
                      .fa.btn-fa-nested.fa-angle-double-left{"aria-controls" => "test-#{taxon.id}", "aria-expanded" => "true", "data-target" => ".test-#{taxon.id}", "data-toggle" => "collapse", :type => "button", style: "float: right; margin-top:4px; cursor: pointer; width: 15px; text-align: right;"}
                        
              - taxon.children.each do |taxon2|
                .collapse{"aria-labelledby" => "headingOne", "data-parent" => "#accordionExample", "class" => "test-#{taxon2.parent_id}"}
                  .card-body
                    .y{style: "margin: 2px 1rem; font-size: 16px; border-bottom: solid 1px #eae4e4; padding-bottom: 1rem;"}
                      = link_to taxon2.name , nested_taxons_path(taxon2), style: "color: #555;"
:javascript
  $(".btn-fa-nested").click(function(){
    if ($(this).hasClass("fa-rotate-270")) {
      $(this).removeClass("fa-rotate-270")
      $(this).css("margin-top","4px")
    } else {
      $(this).addClass("fa-rotate-270")
      $(this).css("margin-top","8px")
    }
  })